{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<title>{% block pagetitle %}{{STRINGS.site_name}} | {{STRINGS.site_tagline}}{% endblock pagetitle %}</title>

{% block metatags %}{% endblock metatags %}

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'theme/vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'theme/vendor/swiper/css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'theme/vendor/hamburgers/hamburgers.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/vendor/animate/animate.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/vendor/fancybox/css/jquery.fancybox.min.css' %}">

<!-- Icons -->
<link rel="stylesheet" href="{% static 'theme/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/ionicons/css/ionicons.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/line-icons/line-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/line-icons-pro/line-icons-pro.css' %}" type="text/css">

<!-- Global style (main) -->
<link id="stylesheet" type="text/css" href="{% static 'theme/css/boomerang.min.css' %}" rel="stylesheet" media="screen">

<!-- Custom styles -->
<link type="text/css" href="{% static 'theme/css/custom-style.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'identity/css/custom-styles.css' %}" rel="stylesheet">

<!-- Favicon -->
<link href="{% static STRINGS.favicon_image %}" rel="icon" type="image/png">

<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

{% block stylesheets %}{% endblock stylesheets %}

{% block styles %}{% endblock styles %}

</head>
<body>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- MAIN WRAPPER -->
<div class="body-wrap {% block main_wrapper_class %}{% endblock main_wrapper_class %}">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    {% block header %}{% endblock header %}

                    {% comment %}
                    {% if messages %}
                        <div>{% bootstrap_messages %}</div>
                    {% endif %}
                    {% endcomment %}

                    {% block content %}{% endblock content %}

                    {% block footer %}{% endblock footer %}

                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<a href="#" class="back-to-top btn-back-to-top"></a>

<!-- SCRIPTS -->

{% block events %}{% endblock events %}

<!-- Core -->
<script src="{% static 'theme/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'theme/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'theme/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'theme/js/slidebar/slidebar.js' %}"></script>
<script src="{% static 'theme/js/classie.js' %}"></script>

<!-- Bootstrap Extensions -->
<script src="{% static 'theme/vendor/bootstrap-notify/bootstrap-growl.min.js' %}"></script>
<script src="{% static 'theme/vendor/scrollpos-styler/scrollpos-styler.js' %}"></script>

<!-- Plugins: Sorted A-Z -->
<script src="{% static 'theme/vendor/adaptive-backgrounds/adaptive-backgrounds.js' %}"></script>
<script src="{% static 'theme/vendor/countdown/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'theme/vendor/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'theme/vendor/easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'theme/vendor/fancybox/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'theme/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'theme/vendor/flip/flip.min.js' %}"></script>
<script src="{% static 'theme/vendor/footer-reveal/footer-reveal.min.js' %}"></script>
<script src="{% static 'theme/vendor/gradientify/jquery.gradientify.min.js' %}"></script>
<script src="{% static 'theme/vendor/headroom/headroom.min.js' %}"></script>
<script src="{% static 'theme/vendor/headroom/jquery.headroom.min.js' %}"></script>
<script src="{% static 'theme/vendor/input-mask/input-mask.min.js' %}"></script>
<script src="{% static 'theme/vendor/instafeed/instafeed.js' %}"></script>
<script src="{% static 'theme/vendor/milestone-counter/jquery.countTo.js' %}"></script>
<script src="{% static 'theme/vendor/nouislider/js/nouislider.min.js' %}"></script>
<script src="{% static 'theme/vendor/paraxify/paraxify.min.js' %}"></script>
<script src="{% static 'theme/vendor/select2/js/select2.min.js' %}"></script>
<script src="{% static 'theme/vendor/sticky-kit/sticky-kit.min.js' %}"></script>
<script src="{% static 'theme/vendor/swiper/js/swiper.min.js' %}"></script>
<script src="{% static 'theme/vendor/textarea-autosize/autosize.min.js' %}"></script>
<script src="{% static 'theme/vendor/typeahead/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'theme/vendor/typed/typed.min.js' %}"></script>
<script src="{% static 'theme/vendor/vide/vide.min.js' %}"></script>
<script src="{% static 'theme/vendor/viewport-checker/viewportchecker.min.js' %}"></script>
<script src="{% static 'theme/vendor/wow/wow.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'theme/vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'theme/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>


<!-- App JS -->
<script src="{% static 'theme/js/boomerang.min.js' %}"></script>

{% block scripts %}{% endblock scripts %}

{% if STRINGS.google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=google_analytics_id"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{STRINGS.google_analytics_id}}');
  </script>
{% endif %}

</body>
</html>
